<!DOCTYPE html>
<html>

{{ partial "header.html" . }}

<body>

  <header class="site-header">
    <div class="container">
      {{ partial "site-nav.html" . }}

      <h1 class="site-title">
        <a href="{{ .Site.BaseURL }}">{{ htmlEscape .Site.Title }}</a>
      </h1>

      {{ if .Site.Params.tagline }}
        <div class="site-tagline">
          {{ .Site.Params.tagline }}
        </div>
      {{ end }}
    </div>
  </header>

  <main class="container">
    <!-- Content -->
    <div class="cover-image"><img src="{{ .Site.Params.image }}" alt="" /></div>


    <div class="post-list">
    {{ range .Paginator.Pages }}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h2 class="post-title" itemprop="headline"><a href="{{ .Permalink }}">{{ .Title | htmlEscape }}</a></h2>
        </header>
        <div class="post-excerpt" itemprop="description">
          {{ .Summary }}{{ if .Truncated }}<a class="read-more" href="{{ .Permalink }}">…</a>{{ end }}
        </div>
        <div class="post-footer">
          <ul class="x-separated-list x-separated-list-meta x-separated-list-small">
            {{ $author := index $.Site.Params.authors .Params.author }}
            {{ if $author }}
              <li class="post-byline">
                {{ if $author.website }}
                  <a href="{{ $author.website }}">{{ $author.name }}</a>
                {{ else }}
                  {{ $author.name }}
                {{ end }}
              </li>
            {{ end }}
            <li class="post-date"><time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format "January 2, 2006" }}</time></li>
          </ul>
        </div>
      </article>
    {{ end }}
    </div>

    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      <nav class="pagination clearfix">
        {{ if .Paginator.HasPrev }}
          <a class="pagination-newer" href="{{ .Paginator.Prev.URL }}">
            <div>
              <svg viewBox="0 0 9 14">
                <path d="M7.293 14l1.414-1.414L3.12 7l5.587-5.586L7.293 0l-7 7 7 7z"/>
              </svg>
            </div>
            Newer Posts
          </a>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <a class="pagination-older" href="{{ .Paginator.Next.URL }}">
            <div>
              <svg viewBox="0 0 9 14">
                <path d="M1.707 14L.293 12.586 5.88 7 .292 1.414 1.707 0l7 7-7 7z"/>
              </svg>
            </div>
            Older Posts
          </a>
        {{ end }}
      </nav>
    {{ end }}
  </main>

  <footer class="site-footer">
    <div class="container">
      {{ partial "footer-links.html" . }}
      © {{ .Now.Format "2006" }} - {{ htmlEscape .Site.Title }}
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
  <script>
    (function ($) {
      var $siteNav = $('.site-nav');
      var $siteNavToggle = $('.site-nav-toggle');

      $siteNavToggle.click(function () {
        $siteNav.toggleClass('is-toggled');
      });

      $('.post-content').fitVids();
    }(jQuery));
  </script>

</body>
</html>
